<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-sm-4">
        <div class="card m-3" style="width: 21rem;">
          <%= link_to list_path(list) do %>
            <img class="card-img-top" src="https://images.unsplash.com/photo-1485846234645-a62644f84728?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= list.name %></h5>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-4">
        <div class="card m-3" style="width: 21rem;">
          <%= link_to new_list_path do %>
            <img class="card-img-top invisible" src="https://images.unsplash.com/photo-1485846234645-a62644f84728?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Add new</h5>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
