#navbar-override {
  background-color: #F6F6F5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 6;
  position: sticky;
  top: 0px;
  align-items: baseline;
}

#navbar-override > h6.active > a {
  color: #2f2f5684;
  text-decoration: underline;
  font-size: larger;
}
